@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-color: #F8F6F5;
    font-family: 'Poppins', sans-serif;

}

*::selection{
    background-color: #F9E197;
    color: white;
}

.ql-toolbar.ql-snow{
    background-color: none;
        border: 2px dashed #3F3D56;
    padding: 16px 10px;
    font-size: 20px;
    font-family: 'Staatliches', Courier, monospace;
}

.ql-container.ql-snow{
    padding: 16px 10px;
    border: 2px dashed #3F3D56;
    min-height: 300px;


}
.ql-editor{
    min-height: 300px;
    line-height: 2;
    font-size: 1rem;
}

.ql-container  h1,.ql-container h2,.ql-container h3,.ql-container h4,.ql-container h5 {
    margin-top: 16px;
}

.ql-container a,.ql-container p,.ql-container span,.ql-container img {
margin-top: 6px;
}

.comment textarea{
    resize: none;
}